{% extends 'layout.html' %}
{% load static %}
{% block title %}Logowanie{% endblock %}
{% block header %}Logowanie{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<center>				
				<h4 class="post-subtitle">

<form method="post" action=".">
	{{form.non_field_errors}}
<p><label for="id_username">Nazwa użytkownika:</label><br>
{{ form.username }}</p>
<p>{{form.username.errors}}</p>
<p><label for="id_password">hasło:</label><br>
{{ form.password }}</p><br>
<p>{{form.password.errors}}</p>

<input type="hidden" name="next" value="/" />
<input type="submit" class="btn btn-warning" value="zaloguj" />
</br>
</br>
<p>Jeżeli nie masz jeszcze u nas konta, zarejestruj się</p>
<a class="btn btn-large btn-primary" href="/accounts/register">Zarejestruj</a> 
<!--input type="submit" class="btn btn-warning" action="/accounts/register" value="Zarejestruj" /-->

{% csrf_token %}					 
				</h4>
				</center>			
		</div>
            	
	</div>
</div>

{% endblock %}

