{% extends 'layout.html' %}
{% load static %}
{% block title %}Zarejstruj się{% endblock %}
{% block header %}Zarejstruj się{% endblock %}

{% block content %}
   

 

<div class="container">
	<div class="row">
				
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				<center>				
				<h4 class="post-subtitle">
<form method="post" action="."> 
<p><label for="id_username">Nazwa użytkownika:</label><br>
{{ form.username }}</p>
<p>{{form.username.errors}}</p>
<p><label for="id_username">E-mail:</label><br>
{{ form.email }}</p>
<p>{{form.email.errors}}</p>

<p><label for="id_password">Hasło:</label><br>
{{ form.password1 }}</p>
<p>{{form.password1.errors}}</p>
<p><label for="id_password">Powtórz hasło:</label><br>
{{ form.password2 }}</p><br>
<p>{{form.password2.errors}}</p>

<input type="hidden" name="next" value="/" />
<input type="submit" class="btn btn-warning" value="Zarejstruj" />
{% csrf_token %}
					 
				</h4>
				</center>
			
		</div>
	</div>
</div>

{% endblock %}
