{% extends 'layout.html' %}
{% load static %}
{% block title %}Sukces!{% endblock %}
{% block header %}Sukces!{% endblock %}
{% block content %}

<div class="container">
	<div class="row">
				
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				<center>				
				<h4 class="post-subtitle">
Gratulacje! Nowe konto użytkownika zostało utworzone.
					 
				</h4>
				</center>
			
		</div>
	</div>
</div>

{% endblock %}

