
{% extends 'layout.html' %}
{% load static %}
{% block title %}Napisz komentarz{% endblock %}
{% block header %}Napisz komentarz{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<center>				
				<h4 class="post-subtitle">
<form method="post" action=".">

<p><label for="itresc">Autorem komentarza jest: {{user.username}}</label>
<br>
<br>
<br>
<p><label for="id_password">Treść:</label><br>
{{ form.text }}</p><br>
<input type="hidden" name="next" value="/" />
<input type="submit" class="btn btn-warning" value="Dodaj" />

{% csrf_token %}					 
				</h4>
				</center>			
		</div>
            	
	</div>
</div>

{% endblock %}

