{% extends 'layout.html' %}
{% load static %}
{% block title %}{{user.username}}{% endblock %}
{% block header %}{{user.username}}{% endblock %}

{% block content %}
    
<script>
var linkk=[];
var i=0;
</script>
<div class="container">
	<div class="row">
				
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				<center>				
				<h3 class="post-subtitle">
					<a  class="btn btn-warning" href="/newpassword">Zmień hasło</a> 
					<br>
					<br>
				 	Napisane komentarze</br></br>
{% for commentid in commentid.all %}
<script>
linkk.push("{{commentid}}");
</script>

{% endfor %}
{% for comment in comment.all %}
<script>
   document.write('<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"">        <div class="date"></div>        <a href=/przepisy/'+linkk[i]+'>{{comment}}</a></div><br><br>');	
   i++;
</script>

{% empty %}
    <p>Jeszcze nie dodałeś komentarzy</p>
{% endfor %}

	 
				</h3>
				
			
		</div>
	</div>
</div>

{% endblock %}
