{% extends 'layout.html' %}
{% load static %}
{% block title %}Strona główna{% endblock %}
{% block header %}Strona główna{% endblock %}

{% block content %}
<script>
var linkk=[];
var linkk2=[];
var linkk3=[];
var i=0;
</script>
{% for listao in listao %}
<script>
linkk.push("{{listao}}");

</script>
{% endfor %}
{% for listaid in listaid %}
<script>
linkk2.push("{{listaid}}");

</script>

{% endfor %}
<script>
alert("Jest to strona pokazowa, która zostala wykonana na zajeciach zespolowych na studiach.\nFunkcje wykonane przeze mnie to:\n-Mozliwosc logowania i rejestracji\n-Opcja dodawania zdjec do przepisow\n-Mozliwosc dodawania komentarzy\n-Mozliwosc oceniania przepisow od 1 do 10\n-Wypisywanie 5 najlepszych przepisow na stronie glownej\n-Wyszukiwarka przepisow\n-Paginacja na podstronie przepisy\n-Wypisywanie komentarzy uzytkownika na jego stronie profilowej\n-Mozliwosc zmiany hasla i komunikaty w razie bledow");
</script>
    <!-- Main Content -->
    <div class="container">
       
       
            <div class="col-md-7 role=main">

                 <div class="post-preview">
                    
                        <h2 class="post-title">
                           Przepisy dla każdego
                           <hr size="2" />
                        </h2>
                        <div class="row">
                            Witamy na naszym blogu kulinarnym.<br>
Znajdziesz tu przepisy na smakowite potrawy, które z łatwością trafią w twoje podniebienie.
<br>
Zachęcamy do zarjestrowania się i oceny przepisów według własnej skali smaku. Jeśli masz 
<br>
jakieś uwagi możesz opublikować komentarz.

                        </div>
                    </div>
                </div>
                
            <div class="col-md-5 role=complementary">
            	<div class="post-preview">
                        <h2 class="post-title">
                            <a>TOP LISTA - przepisów</a><hr></h2>
                            {% for listat in listat %}

<script>
document.write('<br><div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"">        <div class="date"></div>        <b><a href=/przepisy/'+linkk2[i]+'>  {{listat}}</a></b><br>Ocena '+linkk[i]+'</div><br><br>');
i++;
</script>
{% endfor %}
                     
                       
                    </div>
                </div>
            
        </div>
    </div>

    {% endblock %}
