{% extends 'layout.html' %}
{% load static %}
{% block title %}Kontakt{% endblock %}
{% block header %}Kontakt{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
				
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				<center>				
				<h3 class="post-subtitle">
				 	Zapraszamy do kontaktu z nami pod adresem:</br></br>

					<a href="mailto:plus1@pocza.onet.pl">plus1@pocza.onet.pl</a> 
				</h3>
				</center>
			{% for post in przepisy %}
			<a href="/przepisy/{{ post.id }}/">
				
			<img src="{{ post.image }}" width="150"/>
			<p>Tytuł: {{ post.title }}</p>
	 		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
