{% extends 'layout.html' %}
{% load static %}
{% block title %}Zmiana hasła{% endblock %}
{% block header %}Zmiana hasła{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<center>				
				<h4 class="post-subtitle">
<form role="new" action="" method="post">
    {% csrf_token %}
{{ new.newpassword.label }}<br>{{ new.newpassword }}</p>
{{ new.newpassword2.label }}<br>{{ new.newpassword2 }}</p><br>
{% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
<input type="submit" class="btn btn-warning" value="Zatwierdź" />
<!--input type="submit" class="btn btn-warning" action="/accounts/register" value="Zarejestruj" /-->
{% csrf_token %}					 
				</h4>
				</center>			
		</div>
            	
	</div>
</div>
{% endblock %}
