{% extends 'layout.html' %}
{% load static %}
{% block title %}O nas{% endblock %}
{% block header %}O nas{% endblock %}

{% block content %}
    

<div class="container">
	<div class="row">
				
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				<center>				
				<h3 class="post-subtitle">
				 	Jestesmy pasjonatami dobrego jedzenia</br></br>
				</h3>
				</center>
			
		</div>
	</div>
</div>

{% endblock %}
