{% extends 'layout.html' %}
{% load static %}
{% block title %}Post{% endblock %}
{% block header %}Post{% endblock %}

{% block content %}
            <script type="text/javascript"> 
   var la = [];
   var lc = [];
</script>

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<img src="{{ post.image.url }}" width="400"/>


 			<h2 class="section-heading">{{ post.title }}</h2>
 			<h3>Autor: {{ post.author }}</h3>
 			<p>{{ post.content }}</p><br><br>
 			<p>{{sr}}/10</p>
 			{% if user.is_authenticated %}
 				<form  method="post">{% csrf_token %}
 				{% if blok == 0 %}
	 {{oc.ocena}}
	 {% endif %}
	<script>
		if ({{blok}}==0)
	document.write('<input type="submit" class="btn btn-warning" value="Oceń" />');
	else document.write('Już oceniłeś ten przepis');
	</script>
</form>{% csrf_token %}

{%endif%}
		</div>
		
	</div>

</div>
<hr>
<hr>


{% for comment in post.comments.all %}

        <script type="text/javascript"> 
   la.push("{{comment.author}}");
   lc.push("{{ comment.text|linebreaks }}");
</script>
{% empty %}
    <center><p>Jeszcze nikt nie skomentował. Bądź pierwszy!</p></center>
{% endfor %}
            <script type="text/javascript"> 
   
   for(var i=la.length, a=0;i>0;i--,a++){
   document.write('<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"">        <div class="date"></div>        <strong>'+la[i-1]+'</strong>        <p>'+lc[i-1]+'</p></div>');
}

</script>
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
{% if user.is_authenticated %}
<a class="btn btn-warning" href="{% url 'add_comment_to_post' pk=post.pk %}">Napisz komentarz</a>
<br>
<br>
{%else%}
<a class="btn btn-warning" href="/login">Zaloguj się lub zarejestruj aby komentować</a>
<br>
<br>
{%endif%}
</div>
{% endblock %}


