{% extends 'layout.html' %}
{% load static %}
{% block title %}Blog{% endblock %}
{% block header %}Blog{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{% for post in przepisy %}
			<a href="/przepisy/{{ post.id }}/">
			<img src="{{ post.image.url }}" width="150"/>
			<p>Tytuł: {{ post.title }}</p>
	 		{% endfor %}
	 		{% if przepisy.has_previous %}
            <a  class="btn btn-warning" href="?page={{ przepisy.previous_page_number }}">Poprzednia</a> 
        {% endif %}
        {% if przepisy.has_next %}
            <a  class="btn btn-warning" style="float: right;" href="?page={{ przepisy.next_page_number }}">Następna</a> 
        {% endif %}
		</div>
	</div>
</div>
{% endblock %}
