{% extends 'layout.html' %}
{% load static %}
{% block title %}Wyszukiwarka{% endblock %}
{% block header %}Wyszukiwarka{% endblock %}
{% block content %}
<script>
var linkk=[];
var i=0;
</script>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<center>				
				<h4 class="post-subtitle">
<form role="new" action="" method="post">
    {% csrf_token %}
    {{ se.search.label }}<br>{{ se.search }}</p><br>

{% for postid in postid %}
<script>
linkk.push("{{postid}}");

</script>
{% endfor %}

<input type="submit" class="btn btn-warning" value="Zatwierdź" /><br><br>
{% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}

{% for post in post.all %}

<script>
	if (i==0) document.write('<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"">        <div class="date"></div>Wyniki wyszukiwania</div><br><br>');
   document.write('<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"">        <div class="date"></div>        <a href=/przepisy/'+linkk[i]+'>{{post}}</a></div><br><br>');	
   i++;
</script>
{% endfor %}

<!--input type="submit" class="btn btn-warning" action="/accounts/register" value="Zarejestruj" /-->
{% csrf_token %}					 
				</h4>
				</center>			
		</div>
            	
	</div>
</div>
{% endblock %}

